<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123813831789-sokcqti7k4j1e58t6qmbh0ef4dhb7iuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123813831789-sokcqti7k4j1e58t6qmbh0ef4dhb7iuk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>123813831789-8e6cpj1nq2tmrh99rnqgbtjve28tdmc0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrsSqF8eqBpFHQ7cc41_mioIuVSRFJOzg</string>
	<key>GCM_SENDER_ID</key>
	<string>123813831789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pe.hinoperu.app</string>
	<key>PROJECT_ID</key>
	<string>hino-app-1bc69</string>
	<key>STORAGE_BUCKET</key>
	<string>hino-app-1bc69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123813831789:ios:a89662dd7d07bde1d14b64</string>
	<key>DATABASE_URL</key>
	<string>https://hino-app-1bc69.firebaseio.com</string>
</dict>
</plist>