<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HINO APP</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb185296032647572</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>185296032647572</string>
	<key>FacebookDisplayName</key>
	<string>App Hino</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>waze</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Esta aplicación requiere acceso a la biblioteca de medios del usuario para funcionar correctamente.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Esta aplicación requiere acceso al calendario para funcionar correctamente.</string>
	<key>NSCameraUsageDescription</key>
	<string>Esta aplicación requiere acceso a la cámara para tomar fotos y funcionar correctamente.</string>
	<key>NSContactsUsageDescription</key>
	<string>Esta aplicación requiere acceso de contactos para funcionar correctamente.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Esta aplicación requiere acceso a la localización del usuario en tiempo real mientras la aplicación se ejecuta en segundo plano para brindarle el beneficio de canjear sus premios en el concesionario más cercano.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Esta aplicación requiere acceso a la localización del usuario en tiempo real para brindarle el beneficio de canjear sus premios en el concesionario más cercano.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Esta aplicación requiere acceso a la localización del usuario en tiempo real mientras la aplicación se ejecuta en primer plano para brindarle el beneficio de canjear sus premios en el concesionario más cercano.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Esta aplicación requiere acceso al micrófono para funcionar correctamente.</string>
	<key>NSMotionUsageDescription</key>
	<string>Esta aplicación requiere acceso al acelerómetro para funcionar correctamente.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicación requiere acceso a la galería para funcionar correctamente.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Esta aplicación requiere acceso al reconocimiento de voz para funcionar correctamente.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
